@charset "utf-8";
/* CSS Document */

.inputfield{
	border-radius: 5px;
	border-color: grey;
	border-style: solid;
	box-shadow: 5px 5px 5px #888888;
}

body
{
background-color:#d0e4fe;
font-family:"Times New Roman";
font-size:15px;
}


a:link{color:blue}
a:visited{color:grey}
a:hover{color:red}
a:active{color:orange}
